<header class="site-header">
  <!-- This header file needs work -->

  <div class="wrapper">
    {{#site}}
    <a class="site-title" rel="author" href="{{ rootUrl }}">
      {{ title }}
    </a>
    {{/site}}
  </div>
</header>
