---
layout: default
---

<section class="docs">
  <div class="grid">
    {{> docs_contents_mobile }}
    <div class="unit four-fifths">
      <article>
        {{#page}}
        <div class="improve right hide-on-mobiles">
          <a data-proofer-ignore 
            href="https://github.com/jekyll/jekyll/edit/master/docs/{{ path }}">
            <i class="fa fa-pencil"></i> &nbsp;Improve this page
          </a>
        </div>
        <h1>{{title}}</h1>
        {{/page}}
        {{ content }}
      </article>
    </div>
    {{> docs_contents }}
    <div class="clear"></div>
  </div>
</section>
