<!DOCTYPE html>
<html lang={{#site}}{{lang}}{{/site}}>
  {{> head}}
  <body>
    {{> header}}
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{{ content }}}
      </div>
    </main>
    {{> footer}}
  </body>
</html>
