---
layout: default
---
<article class="post">

  <header class="post-header">
    {{#page}}
    <h1 class="post-title">{{ title }}</h1>
    <h3 class="post-date">{{ date }}</h3>
    {{/page}}
  </header>

  <div class="post-content">
    {{> content}}
  </div>

</article>
