title: Scalite
subtitle: Scalable, simple, blog-aware static-site generator
author:
  name: M Ahsan Al Mahir
  email: ahsanalmahir@gmail.com
  github: AnglyPascal
description: > 
  Transform your plain text into static websites and blogs
url: https://scalite.anglypascal.com
repository: https://github.com/anglypascal/scalite
timezone: Asia/Dhaka

collections: 
  docs:
    style: post
    permalink: "/{{collection}}/{{path}}/"
    output: true
  posts:
    style: post
    permalink: "/news/:year/:month/:day/:title/"
    output: false
  tutorials:
    style: post
    permalink: "/{{collection}}/{{path}}/"
    output: true

showExcerpts: false # set to true to show excerpts on the homepage

defaults:
- scope:
    path: "/_docs"
    type: docs
  values:
    layout: docs
- scope:
    path: "/_tutorials"
    type: tutorials
  values:
    layout: tutorials
